<%= form_tag "/contractor_session" do %>
	<p class="form">
	  <%= label_tag :email, "Email:" %>
	  <%= text_field_tag :email %>
	  <%= label_tag :password, "Password:" %>
	  <%= password_field_tag :password %>
	  <%= submit_tag "Login"%>
	</p>  
<% end %>
