<%= form_for @client, :html => {:multipart => true}  do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h4>
      
	  <ul>
	      <% @client.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Upload your picture" %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :remote_avatar_url, "or paste picture's link" %><br />
    <%= f.text_field :remote_avatar_url %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
