<div class="row">
  
  <div class="span4">
      <%= image_tag @client.avatar_url(:medium).to_s, :class => 'img-rounded' %>
  </div>

  <div class="span4">
    <h1><%= @client.first_name %> <%= @client.last_name %></h1>

  </div>

  <div class="span4">
    <h3>Profile Completion:</h3>
    <div class="well">

    </div>
  </div>
</div>






<div class="row">

  <div class="span6">
    <h3>Contact Info</h3>
    <div class="well" style="height: 150px;">    
      <p><%= @client.email %> <i class="icon-envelope"></i></p>
      <p>Skype</p>
    </div>
  </div>

  <div class="span6">
    <h3>Online Presences</h3>
    <div class="well" style="height: 150px;">

      <p>LinkedIn</p>
      <p>Facebook</p>
      <p>Personal Site</p>
    </div>
  </div> 

</div>




<div class="row">
  <div class="span6">
    <h3>Completed Projects</h3>  
    <div class="well" style="height: 150px;">

      <% if @client.projects.completed.any? %>
    
          <table>
            <% @client.projects.completed.each do |project| %>
              <tr>
                <td><%= project.name %></td>
                <td><%= link_to "Show", client_project_url(@client, project) %></td>
              </tr>
            <% end %>
            </table>
      <% else %>
        <p>You haven't completed any projects yet.</p>
      <% end %>

    </div>    
  </div>

  <div class="span6">
    <h3>Current Project</h3>
    <div class="well" style="height: 150px;">

      <% if @actual_project.present? %>
        <table>
          <tr>
            <td><%= @actual_project.name %></td>
            <td><%= @actual_project.url %></td>
            <td><%= link_to "Show", client_project_url(@client, @actual_project) %></td>
          </tr>
        </table>
      <% else %>
        <p>You don't have any projects open.</p>
      <% end %>
    </div>
  </div>  
</div>
<%= link_to 'Edit', edit_client_path(@client) %>

