<div class="row">
  <div class="span12">
    <p>
      <b>First name:</b>
      <%= @client.first_name %>
    </p>
  <div class="span12">
  </div>
    <p>
      <b>Last name:</b>
      <%= @client.last_name %>
    </p>
  </div>
  <div class="span12">
    <p>
      <b>Email:</b>
      <%= @client.email %>
    </p>
  <div class="span12">  
  </div>
    <p>
      <b>Company:</b>
      <%= @client.company %>
    </p>
  </div>
  <div class="span12">
    <p>
      <b>Avatar:</b>
      <%= image_tag @client.avatar_url(:thumb).to_s %>
    </p>
  </div>
</div>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
