<%= form_for [@client, @project], :html => {:class => "form-horizontal"} do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>
      <ul>
	      <% @project.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label", :for =>"inputName" %>
    <%= f.text_field :name, :class => "controls", :id => "inputName" %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label", :for =>"inputDescription" %>
    <%= f.text_area :description, :rows => 5, :class => "controls", :id => "inputDescription" %>
  </div>

  <div class="control-group">
    <%= f.label :url, "Project related URL", :class => "control-label", :for =>"inputUrl" %>
    <%= f.text_field :url, :class => "controls", :id => "inputUrl" %>
  </div>
  <div class="control-group">
    <%= f.label :reward, :class => "control-label", :for =>"inputReward" %>
    <%= f.text_field :reward, :class => "controls", :id => "inputReward" %>
  </div>
  <div class="control-group">
    <%= f.label :deadline, :class => "control-label", :for =>"inputDeadline" %>
    <%= f.text_field :deadline, :class => "controls", :id => "inputDeadline" %>
  </div>
  
  <div class="form-inline">
	<p class="form_info_text">If you know what type of skills your project requires, please, select them in order of importance. You can select just 1.</p>
	<%= f.label :skillset, "Required skills", :class => "control-label" %>
  	<% 3.times do |n| %>
	    <%= f.collection_select "skill_id#{n+1}", Skill.all, :id, :name, {:prompt => "Select #{n+1}"}, :class => "input-small" %>
	<% end  %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary btn-signup" %>
  </div>

<% end %>
