<div class="row">
  <div class="span12">	
    	<span style="text-align:center;">
			<h2>Project Info</h2>
		</span>
  </div>
</div>

<br>

<div class="row">
  <div class="span12">
	<h4><%= project.name %><br /></h4>
	<table class="table">
		<tr>
			<th>Description</th>
			<th>URL</th>
			<th>Incentive</th>
			<th>Deadline</th>
			<th>Skills</th>
		</tr>
		<tr>
			<td><%= project.description %></td>
			<td>
				<% if project.url %>
					<%= link_to project.url, "http://#{project.url}", :target => "blank" %>
				<% end  %>		
			</td>
			<td><%= project.reward %></td>
			<td><%= project.deadline %></td>
			<td>
				<% if project.skill_id1 %>
					<%= skill_name(project.skill_id1) %><br />
				<% end  %>
				<% if project.skill_id2 %>
					<%= skill_name(project.skill_id2) %><br />
				<% end  %>
				<% if project.skill_id3 %>
					<%= skill_name(project.skill_id3) %><br />
				<% end  %>
			</td>
		</tr>
	</table>
  </div>
</div>

<div class="row">
  <div class="span12">
	<% if starter_logged_in?  %>
		<% if project.actual_starter_id.blank?  %>
			<%= button_to 'Accept Project', accept_project_url(@starter, project), :confirm => 'Are you sure?', :method => "put", :class => "btn btn-large btn-primary" %>
		<% end %>

		<% if project.actual_starter_id == @starter.id  %>
		<p>
		  <h4>Client:</h4>
			<%= image_tag project.client.avatar_url(:thumb).to_s %><br />
		  	Name: <%= project.client.first_name %> <%= project.client.last_name %><br />
		 	Email: <%= mail_to project.client.email, project.client.email %>
		</p>	
			<%= button_to 'Leave Project', reject_project_url(@starter, project), :confirm => "Are you sure? Once you leave the project it won\'t be offered to you anymore!", :method => "put", :class => "btn btn-small btn-primary" %>
		<% end %>
	<% end %>

	<% if client_logged_in?  %>
		<% if project.actual_starter  %>
			<p>
			  <h4>Accepted by Starter:</h4>
				<%= image_tag project.actual_starter.avatar_url(:thumb).to_s %><br />
			  	Name: <%= project.actual_starter.first_name %> <%= project.actual_starter.last_name %><br />
			 	Email: <%= mail_to project.actual_starter.email, project.actual_starter.email %>
			</p>
			<%= button_to 'Dismiss Starter', reject_starter_url(@client, project), :confirm => "Are you sure? Once you dismiss the starter he or she won\'t be offered this project anymore!", :method => "put", :class => "btn btn-small btn-primary" %>
		<% end %>
	<% end %>
  </div>
</div>

