<% if @actual_project.present? %>
	<h3>Current Project</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>URL</th>
			<th>Incentive</th>
			<th>Deadline</th>
			<th>Skill</th>
			<th>Skill</th>
			<th>Skill</th>
			<th>Action</th>
		</tr>
		<tr>
			<td><%= @actual_project.name %></td>
			<td><%= truncate(@actual_project.description, 10) + "..."   %></td>
			<td><%= @actual_project.url %></td>
			<td><%= @actual_project.reward %></td>
			<td><%= @actual_project.deadline %></td>
			<td><%= @actual_project.skill_id1 %></td>
		    <td><%= @actual_project.skill_id2 %></td>
		    <td><%= @actual_project.skill_id3 %></td>
			<td><%= link_to "Show", starter_project_url(@starter, @actual_project) %></td>
		</tr>
	</table>
	
<% elsif @offered_projects.any? %>
	<h4>Offered Projects</h4>
	<table class="table">	
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>URL</th>
				<th>Incentive</th>
				<th>Deadline</th>
				<th>Skills</th>
				<th>Action</th>
			</tr>
		<% @offered_projects.each do |project| %>
		  <tr>
		    <td><%= project.name %></td>
		    <td><%= truncate(project.description, :length => 50)%></td></td>
		    <td><%= project.url %></td>
		    <td><%= truncate(project.reward, :length => 50) %></td>
		    <td><%= truncate(project.deadline, :length => 30) %></td>
		    <td>
				<% if project.skill_id1 %>
					<%= skill_name(project.skill_id1) %><br />
				<% end  %>
				<% if project.skill_id2 %>
					<%= skill_name(project.skill_id2) %><br />
				<% end  %>
				<% if project.skill_id3 %>
					<%= skill_name(project.skill_id3) %><br />
				<% end  %>
			</td>
			<td><%= link_to "Show", starter_project_url(@starter, project) %></td>
		  </tr>
		<% end %>
		</table>
		
<% else %>
		<h3>Projects are just about to sail in the sea.</h3>
<% end %>

		<h3>Completed Project</h3>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>URL</th>
				<th>Incentive</th>
				<th>Deadline</th>
				<th>Skill</th>
				<th>Skill</th>
				<th>Skill</th>
				<th>Action</th>
			</tr>
			<% @completed_projects.each do |project| %>
		    <tr>
		        <td><%= project.name %></td>
		        <td><%= project.description %></td>
		        <td><%= project.url %></td>
		        <td><%= project.reward %></td>
		        <td><%= project.deadline %></td>
		        <td><%= project.skill_id1 %></td>
		        <td><%= project.skill_id2 %></td>
		        <td><%= project.skill_id3 %></td>
		  	    <td><%= link_to "Show", starter_project_url(@starter, project) %></td>
		    </tr>
		    <% end %>
			</table>
