<% if @offered_project.present? %>
	<h3>You're offered a new project</h3>
	<strong><%= link_to @offered_project.name, starter_project_url(@offered_project) %></strong>
<% else  %>
	<h3>You haven't been offered a new project</h3>
<% end %>

<!-- Shows list of projects accepted in the past byt the Starter -->
<% if @projects.any?  %>
	<h4>Projects you have accepted</h4>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Url</th>
	    <th>Reward</th>
	    <th>Deadline</th>
	    <th>Client</th>
	    <th>Skill id1</th>
	    <th>Skill id2</th>
	    <th>Skill id3</th>
	  </tr>

	<% @projects.each do |project| %>
	  <tr>
	    <td><%= project.name %></td>
	    <td><%= project.description %></td>
	    <td><%= project.url %></td>
	    <td><%= project.reward %></td>
	    <td><%= project.deadline %></td>
	    <td><%= project.client_id %></td>
	    <td><%= project.skill_id1 %></td>
	    <td><%= project.skill_id2 %></td>
	    <td><%= project.skill_id3 %></td>
	  </tr>
	<% end %>
	</table>
<% end %>