<% if @actual_project.present? %>
	<h4>Your actual project</h4>
	<table>
		<tr>
			<td><%= @actual_project.name %></td>
			<td><%= @actual_project.description %></td>
			<td><%= @actual_project.url %></td>
			<td><%= @actual_project.reward %></td>
			<td><%= @actual_project.deadline %></td>
			<td><%= @actual_project.skill_id1 %></td>
		    <td><%= @actual_project.skill_id2 %></td>
		    <td><%= @actual_project.skill_id3 %></td>
			<td><%= link_to "Show", starter_project_url(@starter, @actual_project) %></td>
		</tr>
	</table>
	
<% elsif @offered_projects.any? %>
	<h4>Projects offered to you</h4>
	<table>
		<% @offered_projects.each do |project| %>
		  <tr>
		    <td><%= project.name %></td>
		    <td><%= project.description %></td>
		    <td><%= project.url %></td>
		    <td><%= project.reward %></td>
		    <td><%= project.deadline %></td>
		    <td><%= project.skill_id1 %></td>
		    <td><%= project.skill_id2 %></td>
		    <td><%= project.skill_id3 %></td>
			<td><%= link_to "Show", starter_project_url(@starter, project) %></td>
		  </tr>
		<% end %>
		</table>
		
<% else %>
		<h3>Projects are just about to sail in the sea.</h3>
<% end %>

<% if @completed_projects.any? %>
		<h4>Your completed projects</h4>
		<table>
			<% @completed_projects.each do |project| %>
			  <tr>
			    <td><%= project.name %></td>
			    <td><%= project.description %></td>
			    <td><%= project.url %></td>
			    <td><%= project.reward %></td>
			    <td><%= project.deadline %></td>
			    <td><%= project.skill_id1 %></td>
			    <td><%= project.skill_id2 %></td>
			    <td><%= project.skill_id3 %></td>
				<td><%= link_to "Show", starter_project_url(@starter, project) %></td>
			  </tr>
			<% end %>
			</table>
<% end %>