<%= button_to 'Add New Project', new_client_project_url(@client), :method => "get" %>


<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Reward</th>
    <th>Deadline</th>
    <th>Skill id1</th>
    <th>Skill id2</th>
    <th>Skill id3</th>
	<th>Offered to</th>
	<th>Accepted by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.url %></td>
    <td><%= project.reward %></td>
    <td><%= project.deadline %></td>
    <td><%= project.skill_id1 %></td>
    <td><%= project.skill_id2 %></td>
    <td><%= project.skill_id3 %></td>
    <td><%= project.offered_to %></td>
    <td><%= project.accepted_by %></td>
    <td><%= link_to 'Show', client_project_path(@client, project) %></td>
    <td><%= link_to 'Edit', edit_client_project_path(@client, project) %></td>
    <td><%= link_to 'Destroy', client_project_url(@client, project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

