<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Reward:</b>
  <%= @project.reward %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client_id %>
</p>

<p>
  <b>Skill id1:</b>
  <%= @project.skill_id1 %>
</p>

<p>
  <b>Skill id2:</b>
  <%= @project.skill_id2 %>
</p>

<p>
  <b>Skill id3:</b>
  <%= @project.skill_id3 %>
</p>

<% if @project.actual_starter  %>
	<p>
	  <b>Starter:</b>
	  <%= @actual_starter.first_name %> <%= @actual_starter.last_name %>
	</p>
	<%= button_to 'Reject Starter', reject_starter_url(@client, @project), :method => "put", :class => "btn btn-small btn-primary" %>
<% end %>


<%= link_to 'Edit', edit_client_project_path(@project) %> |
<%= link_to 'Back', client_projects_path %>
