<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Reward:</b>
  <%= @project.reward %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Skills needed:</b> <%= @project.skill_id1 %> <%= @project.skill_id2 %> <%= @project.skill_id3 %>
</p>


<% if @project.actual_starter_id.blank?  %>
	<%= button_to 'Accept Project', accept_project_url(@starter, @project), :method => "put", :class => "btn btn-large btn-primary" %>
<% end %>

<% if @project.actual_starter_id == @starter.id  %>
	<p>
	  <b>Client:</b>
	  <%= @client.first_name %> <%= @client.last_name %>
	</p>
	<%= button_to 'Reject Project', reject_project_url(@starter, @project), :method => "put", :class => "btn btn-small btn-primary" %>
<% end %>



<%= link_to 'Back to Projects', starter_projects_url(@starter) %>