<div class="row">
  <div class="span12">
    <span style="text-align:center;"><h2>Project Info</h2></span>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Client</th>
        <th>Description</th>
        <th>URL</th>
        <th>Reward</th>
        <th>Deadline</th>
        <th>Skills</th>
        <th>Action</th>
      </tr>
      <tr>
        <td><%= @project.name %></td>
        <td><%= @project_client.first_name %> <%= @project_client.last_name %></td>
        <td><%= @project.description %></td>
        <td><%= @project.url %></td>
        <td><%= @project.reward %></td>
        <td><%= @project.deadline %></td>
        <td><%= @project.skill_id1 %> <%= @project.skill_id2 %> <%= @project.skill_id3 %></td>
        <td><% if @project.actual_starter_id == @starter.id  %>
  <%= button_to 'Leave Project', reject_project_url(@starter, @project), :method => "put", :class => "btn btn-small btn-primary" %>
<% end %></td>
      </tr>
    </table>
  </div>
</div>

<% if @project.actual_starter_id.blank?  %>
	<%= button_to 'Accept Project', accept_project_url(@starter, @project), :method => "put", :class => "btn btn-large btn-primary" %>
<% end %>





<%= link_to 'Back to Projects', starter_projects_url(@starter) %>