<p>
  <b>First name:</b>
  <%= @contractor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contractor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contractor.email %>
</p>

<p>
  <b>Company:</b>
  <%= @contractor.company %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @contractor.avatar_url_url(:thumb).to_s %>
</p>


<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
