<%= form_for @starter, :html => {:multipart => true} do |f| %>
  <% if @starter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@starter.errors.count, "error") %> prohibited this Starter from being saved:</h2>

      <ul>
      <% @starter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Upload your picture" %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :remote_avatar_url, "or paste picture's link" %><br />
    <%= f.text_field :remote_avatar_url %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
