<%= form_for(@starter) do |f| %>
  <% if @starter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@starter.errors.count, "error") %> prohibited this starter from being saved:</h2>

      <ul>
      <% @starter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br />
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :skill_id1 %><br />
    <%= f.number_field :skill_id1 %>
  </div>
  <div class="field">
    <%= f.label :skill_id2 %><br />
    <%= f.number_field :skill_id2 %>
  </div>
  <div class="field">
    <%= f.label :skill_id3 %><br />
    <%= f.number_field :skill_id3 %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :quarter %><br />
    <%= f.number_field :quarter %>
  </div>
  <div class="field">
    <%= f.label :class_id1 %><br />
    <%= f.number_field :class_id1 %>
  </div>
  <div class="field">
    <%= f.label :class_id2 %><br />
    <%= f.number_field :class_id2 %>
  </div>
  <div class="field">
    <%= f.label :class_id3 %><br />
    <%= f.number_field :class_id3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
