<%= form_for @starter, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
  <% if @starter.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@starter.errors.count, "error") %> prohibited this Starter from being saved:</h4>
      
	  <ul>
	      <% @starter.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Fill your login info and get hooked:</p>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label", :for =>"inputFirstName" %>
    <%= f.text_field :first_name, :class => "controls", :id => "inputFirstName" %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => "control-label", :for =>"inputLastName" %>
    <%= f.text_field :last_name, :class => "controls", :id => "inputLastName" %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label", :for =>"inputEmail" %>
    <%= f.text_field :email, :placeholder => "@", :class => "controls", :id => "inputEmail"  %>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label", :for =>"inputPassword" %>
    <%= f.password_field :password, :class => "controls", :id => "inputPassword"  %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm password", :class => "control-label", :for =>"inputPasswordConfirmation" %>
    <%= f.password_field :password_confirmation, :class => "controls", :id => "inputPasswordConfirmation"  %>
  </div>
  <br />
  <p>Fill additional info and we will provide even better service to you:</p>

  <div class="form-inline">
	<%= f.label :last_quarter, "Last TSL quarter", :class => "control-label" %>
	<%= f.select :quarter, raw("<option>Fall</option><option>Winter</option><option>Spring</option><option>Summer</option>"), :class => "input-small" %>    
	<%= f.select :year, raw("<option>2012</option><option>2011</option>"), :class => "input-small" %>
  </div>

  <div class="form-inline">
	<p class="form_info_text">Select skills based on what you know best or what jobs you want to get. You can select just 1.</p>
	<%= f.label :skillset, "Your skills", :class => "control-label", :id => 'skills' %>
	<%= f.collection_select :skill_id1, Skill.all, :id, :name, :prompt => "first ...", :class => "input-small" %>
	<%= f.collection_select :skill_id2, Skill.all, :id, :name, :prompt => "second ...", :class => "input-small" %>    
	<%= f.collection_select :skill_id3, Skill.all, :id, :name, :prompt => "third ...", :class => "input-small" %>
  </div>

  <div class="control-group">
    <%= f.label :twitter, :class => "control-label", :for =>"inputTwitter", :id => 'twitter' %>
    <%= f.text_field :twitter, :class => "controls", :id => "inputTwitter" %>
  </div>

  <div class="control-group">
    <%= f.label :location, :class => "control-label", :for =>"inputLocation" %>
    <%= f.text_field :location, :placeholder => "city, state, country", :class => "controls", :id => "inputLocation" %>
  </div>

  <div class="control-group">
    <%= f.label :phone, :class => "control-label", :for =>"inputPhone", :id => 'phone' %>
    <%= f.text_field :phone, :placeholder => "1-234-567-8901", :class => "controls", :id => "inputPhone" %>
  </div>

  <div class="control-group">
    <%= f.label :avatar, "Your photo", :class => "control-label", :for =>"inputAvatarFile" %>
    <%= f.file_field :avatar, :class => "controls", :id => "inputAvatarFile" %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary btn-signup" %>
  </div>

<% end %>
