<h1>The Starters</h1>

<table>
  <tr>
    <th>Avatar</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
	<th>Twitter</th>
    <th>Year</th>
    <th>Quarter</th>
    <th>Skill1</th>
    <th>Skill2</th>
    <th>Skill3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @starters.each do |starter| %>
  <tr>
    <td><%= image_tag starter.avatar_url(:thumb).to_s, :class => 'rounded' %></td>
    <td><%= starter.first_name %></td>
    <td><%= starter.last_name %></td>
    <td><%= starter.email %></td>
	<td><%= starter.twitter %></td>
    <td><%= starter.year %></td>
    <td><%= starter.quarter %></td>

	<td>
		<%= starter.skill_id1 %>
	</td>

	<td>
		<%= starter.skill_id2 %>
	</td>

	<td>
		<%= starter.skill_id3 %>
	</td>

    <td><%= link_to 'View', starter %></td>
    <td><%= link_to 'Edit', edit_starter_path(starter) %></td>
    <td><%= link_to 'Delete', starter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
