<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @starter.avatar_url(:thumb).to_s, :class => 'rounded' %>
</p>
<p>
  <%= @starter.first_name %> <%= @starter.last_name %>
</p>

<p>
  <%= @starter.email %>
</p>

<p>
  <b>Year:</b>
  <%= @starter.year %>
</p>

<p>
  <b>Quarter:</b>
  <%= @starter.quarter %>
</p>

<p>
  <b>Classes Enrolled or Completed:</b>
  <%= @starter.class_id1 %>
  <%= @starter.class_id2 %>
  <%= @starter.class_id3 %>
</p>

<p>
  <b>Skills</b>
  <%= @starter.skill_id1 %>
  <%= @starter.skill_id2 %>
  <%= @starter.skill_id3 %>
</p>

<%= link_to 'Edit', edit_starter_path(@starter) %> |
<%= link_to 'Back', starters_path %>
