<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @starter.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @starter.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @starter.email %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @starter.avatar_url(:thumb).to_s %>
</p>

<p>
  <b>Skill id1:</b>
  <%= @starter.skill_id1 %>
</p>

<p>
  <b>Skill id2:</b>
  <%= @starter.skill_id2 %>
</p>

<p>
  <b>Skill id3:</b>
  <%= @starter.skill_id3 %>
</p>

<p>
  <b>Year:</b>
  <%= @starter.year %>
</p>

<p>
  <b>Quarter:</b>
  <%= @starter.quarter %>
</p>

<p>
  <b>Class id1:</b>
  <%= @starter.class_id1 %>
</p>

<p>
  <b>Class id2:</b>
  <%= @starter.class_id2 %>
</p>

<p>
  <b>Class id3:</b>
  <%= @starter.class_id3 %>
</p>


<%= link_to 'Edit', edit_starter_path(@starter) %> |
<%= link_to 'Back', starters_path %>
