<div class="row">
  
  <div class="span12">
    <p>
      <%= image_tag @starter.avatar_url(:thumb).to_s, :class => 'rounded' %>
    </p>
  </div>

  <div class="span12">    
    <p>
      <%= @starter.first_name %> <%= @starter.last_name %>
    </p>
  </div> 

  <div class="span12">
    <p>
      <%= @starter.email %>
    </p>
  </div> 

  <div class="span12">
    <h4>Year:</h4>
      <%= @starter.year %>
    </p>
  </div> 

  <div class="span12">
    <h4>Quarter:</h4>
  </div>
  <div class="span12">
      <p><%= @starter.quarter %></p>
  </div>   

  <div class="span12">
    <h4>
      <strong>Skills</strong>
    </h4>
  </div>  
  <div class="span12"> 
    <p>
	<% if @skill1.present? %>
      <%= Skill.find_by_id(@starter.skill_id1).name %>
	<% end %>
	<% if @skill2.present? %>
      <%= Skill.find_by_id(@starter.skill_id1).name %>
	<% end %>
	<% if @skill3.present? %>
      <%= Skill.find_by_id(@starter.skill_id1).name %>
	<% end %>
    </p>
  </div> 
</div>

<%= link_to 'Edit', edit_starter_path(@starter) %> |
<%= link_to 'Back', starters_path %>
