<!DOCTYPE html>
<html>
<head>
  <title>Harpuun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">

	<li><%= link_to( image_tag("/assets/harpuunlogo.png", :width => "200"), root_url, ) %></li>

        <li><a href="#"><%= link_to "How it Works ", how_it_works_url %></a></li>
        <li><a href="#"><%= link_to "Our Team", our_team_url %></a></li>

		<li> | admin links </li>
		
		<% if !client_logged_in? %>
            <li><%= link_to 'Sign up Client', new_client_url %></li>
            <li><%= link_to 'Sign in Client', signin_client_url %></li>
         <% else %>
			<li><%= link_to 'Client Profile', client_url(session[:client_id]) %></li>
            <li><%= link_to 'Sign out Client', signout_client_url %></li>
         <% end %>

		<li><a href="#"><%= link_to "Clients List", clients_url %></a></li>
		<li><a href="#"><%= link_to "Starters List", starters_url %></a></li>
		<li><a href="#"><%= link_to "Skills List", skills_url %></a></li>
		<li><a href="#"><%= link_to "Projects List", projects_url %></a></li>
		
      </ul>
    </div> 
  </div>    

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>

<footer class="footstick">
    <p>Created by Team Harpuun | Uses Twitter Bootstrap</p>
</footer>

</body>
</html>

