<!DOCTYPE html>
<html>
<head>
  <title>Harpuun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">

	<li><%= link_to( image_tag("/assets/harpuunlogo.png", :width => "200"), root_url, ) %></li>

        <li><a href="#"><%= link_to "How it Works ", how_it_works_url %></a></li>
        <li><a href="#"><%= link_to "Our Team", our_team_url %></a></li>

		<li> | admin links </li>
		
		<% if !contractor_logged_in? %>
            <li><%= link_to 'Sign up Contractor', new_contractor_url %></li>
            <li><%= link_to 'Sign in Contractor', signin_contractor_url %></li>
         <% else %>
			<li><%= link_to 'Contractor Profile', contractor_url(session[:contractor_id]) %></li>
            <li><%= link_to 'Sign out Contractor', signout_contractor_url %></li>
         <% end %>

		<li><a href="#"><%= link_to "Contractors List", contractors_url %></a></li>
		
		<li><a href="#"><%= link_to "Skills List", skills_url %></a></li>
		<li><a href="#"><%= link_to "Projects List", projects_url %></a></li>
		
      </ul>
    </div> 
  </div>    

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>

</body>
</html>

